.parentContainer {
    display: flexbox
    }
    .sideNav {
        display: inline;
        float: left;
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        width: 40%;
        margin: auto;
        padding-top: 20px;
      }
     
      #resumeLink {
       
        background-color: white;
        color:black;
        font: 'Franklin Gothic Medium';
        font-size: medium;
        width: auto;
        margin: auto;
        padding: 20px;
        text-align: center;
        border-radius: 12px;
    }
      
    #myName {
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 55px;
    color: white;
    }
    
    #execSummary {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: medium;
        color: white;
    
    
    
    }
    .mainContainer {
        background-color: black;
        color: orange;
        font: 22px;
        font: 1em sans-serif;
        width: 50%;
        margin: 40px;
        padding: 15px;
    }
    
    
    